HSPhotos.xcodeproj/project.xcworkspace/xcuserdata/hq.xcuserdatad/UserInterfaceState.xcuserstate
HSPhotos.xcodeproj/xcuserdata/hq.xcuserdatad/xcschemes/xcschememanagement.plist
MagicPhotos/
HSPhotos.xcodeproj/project.xcworkspace/xcuserdata/han.xcuserdatad/UserInterfaceState.xcuserstate
